/* src/styles/global.css */

/* Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic variables */
:root {
    --background-color: #F3F3F3;
    --text-color: #1C1C1E;
    --link-color: #0A84FF;
    --primary-color: #0A84FF;
    --header-height: 50px;
    --heading-font: 'Helvetica Neue', sans-serif;
    --body-font: 'Arial', sans-serif;
}

/* Dark Mode */
.dark-theme {
    --background-color: #1C1C1E;
    --text-color: #F5F5F7;
    --link-color: #64b5f6;
    --primary-color: #181819;
}

/* General styles */
body {
    background-color: var(--background-color);
    font-family: var(--body-font);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

h1, h2, h3 {
    font-family: var(--heading-font);
}

header {
    position: fixed;
    width: 100%;
    height: var(--header-height);
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0.5em 0;
    color: var(--primary-color);
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0.5em 0;
    color: var(--primary-color);
}

p {
    font-size: 1rem;
    margin: 0.5em 0;
    line-height: 1.6;
    color: #c0c0c0;
}

main {
    margin: 0 auto;
}

/* Full-width Apple-style divider */
.divider {
    height: 1px; /* Thin line for minimalism */
    background-color: var(--text-color); /* Neutral text color for both modes */
    opacity: 0.36; /* Subtle appearance */
    margin: 16px 0; /* Vertical spacing */
    width: 100%; /* Full width */
    box-sizing: border-box; /* Ensures padding and border are calculated inside the width */
}

/* Shorter, centered Apple-style divider */
.divider-short {
    height: 1px;
    background-color: var(--text-color); /* Neutral text color for both modes */
    opacity: 0.36;
    margin: 16px auto; /* Centered with vertical spacing */
    width: 80%; /* Shorter width */
    box-sizing: border-box;
}
/* Gradient divider for Apple style */
.divider-gradient {
    height: 1px;
    background: linear-gradient(
    to right,
    transparent 0%, /* Starts fully transparent */
    rgba(var(--text-color-rgb), 0.36) 50%, /* Neutral text color in the center */
    transparent 100% /* Ends fully transparent */
    );
    margin: 16px 0;
    width: 100%; /* Full width */
    box-sizing: border-box;
}

/* responsive */

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 0.9rem;
    }
}

/* Card Container Layout */
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 20px auto;
    padding: 20px;
    max-width: 1200px; /* Limit the width */
}

/* Responsive layout for card container */
@media (max-width: 1024px) {
    .card-container {
        padding: 15px;
        gap: 15px;
    }
}