---
// MarkdownLayout.astro
import "../styles/markdown.css"; // Pfad zur CSS-Datei anpassen
---

<html>
  <head>
    <title>{Astro.props.title}</title>
  </head>
  <body class="markdown-body">
    <slot />
  </body>
</html>