---
// src/pages/contact.astro

import CardContainer from '../components/CardContainer.astro';
import EmailForm from '../components/EmailForm.astro';
import Header from '../components/Header.astro';

// Statische Daten für die Kontaktseite
const contactItems = [
    {
        itemId: '1',
        itemName: 'Address',
        image: '/images/slides/contact.png',
        description: 'La Mediterranea',
        text1: 'Formentera, balearic islands',
        text2: 'Spain',
        price: '',
    },
    {
        itemId: '2',
        itemName: 'Map',
        image: '/images/icons/no_picture.png',
        description: '',
        price: '',
        text1: `<iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3136.392394245623!2d1.487999751256519!3d38.67755337951382!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1299b77fd7fb92bb%3A0x53ef1a1ae4b8b13a!2s38%C2%B040'39.2%22N%201%C2%B029'16.0%22E!5e0!3m2!1sen!2sus!4v1696000000000!5m2!1sen!2sus"
            width="250"
            height="250"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>`,
    },
    {
        itemId: '3',
        itemName: 'Mail',
        image: '/images/icons/site_logo.png',
        description: '',
        price: '',
        text1: '<EmailForm />',
    },
];
---

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8" />
    <title>contact @ La Mediterranea</title>
    <link rel="stylesheet" href="/src/styles/global.css" />
</head>

<body>
    <Header />
    <main class="main-content">
        <CardContainer items={contactItems} />
    </main>
</body>
</html>