---
import Wrapper from '../components/WrapperSlideSite.astro';
import Slideshow from '../components/Slideshow.astro';
---

<Wrapper 
    title="Drinks @ La Mediterranea"
    description="Enjoy refreshing cocktails at our beach bar"
    ogImage="/images/website_background.jpg"
    ogUrl="/"
>
    <p slot="after-header">This is a paragraph that will appear after the header.</p>
    
    <!-- Slideshow with 'home' type for the homepage -->
    <Slideshow slot="main" type="drinks" />
    
    <h1>Welcome to La Mediterranea</h1>
    
    <p slot="before-footer">Copyright 2024</p>
</Wrapper>
