---
// src/pages/Drink.astro
import SlideSideLayout from '../layouts/SlideSideLayout.astro';
import Button from '../components/ButtonLink.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import DrinkSlideshow from '../components/DrinkSlideshow.astro';

---

<SlideSideLayout
    title="drinks @ La Mediterranea"
    description="Unusual inspired cocktail creations"
    ogImage="/images/cocktails/cocktails_banner.png"
    ogUrl="/drink.html"
>
    <title slot="head">Drink - La Mediterranea</title>
    <Header slot="header" />
    
    <DrinkSlideshow slot="slideshow" />
    <Footer slot="footer" />
</SlideSideLayout>