---
// pages/index.astro
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Slideshow from '../components/EventSlideshow.astro';
import '../styles/global.css';
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>event @  La Mediterranea</title>
    <link rel="shortcut icon" href="images/favicon.ico">
    <meta property="og:title" content="event @La Mediterranea">
    <meta property="og:description" content="international artists, djs and local culture">
    <meta property="og:image" content="images/food/food_culture.png">
    <meta property="og:url" content="event.html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <Header />
    <main class="main-content no-scroll">
        <Slideshow />
    </main>
    <Footer />
</body>
</html>