---
import Wrapper from '../components/WrapperSlideSite.astro';
---
<Wrapper type="home" /
    title="Welcome to La Mediterranea"
    description="Experience Mediterranean vibes at our beach restaurant on Formentera"
    ogImage="/images/website_background.jpg"
    ogUrl="/"
>
    <p slot="after-header">This is a paragraph that will appear after the header.</p>
    <h1>Welcome to La Mediterranea</h1>
    <p slot="before-footer">Copyright 2024</p>
</Wrapper>