---
// src/pages/index.astro
import SlideSiteLayout from '../layouts/SlideSite.astro';
import Header from '../components/Header.astro';
import Slideshow from '../components/Slideshow.astro';
import Footer from '../components/Footer.astro';

---

<SlideSiteLayout type="home" /
    title="Welcome to La Mediterranea"
    description="Experience Mediterranean vibes at our beach restaurant on Formentera"
    ogImage="/images/website_background.jpg"
    ogUrl="/"
>
    <title slot="head">Home - La Mediterranea</title>
    <Header slot="header" />
    <Slideshow slot="slideshow" type="home" /> <!-- Load slides for "home" -->
    <Footer slot="footer" />
</SlideSiteLayout>