---
// src/pages/Index.astro
import HomeLayout from '../layouts/HomeLayout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import IndexSlideshow from '../components/IndexSlideshow.astro';

---

<HomeLayout
    title="Welcome to La Mediterranea"
    description="Experience Mediterranean vibes at our beach restaurant on Formentera"
    ogImage="/images/website_background.jpg"
    ogUrl="/"
>
    <title slot="head">Home - La Mediterranea</title>
    <Header slot="header" />
    <IndexSlideshow slot="slideshow" />
    <Footer slot="footer" />
</HomeLayout>