---
// pages/table.astro
import Header from '../components/Header.astro';
import OpeningHours from '../components/OpeningHours.astro';
import Footer from '../components/Footer.astro';
import Slideshow from '../components/TableSlideshow.astro';
import '../styles/global.css';
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurant La Mediterranea</title>
    <link rel="shortcut icon" href="images/favicon.ico">
    <meta property="og:title" content="table @La Mediterranea">
    <meta property="og:description" content="beautiful places on the beach, at the bar and in the restaurant">
    <meta property="og:image" content="images/food/food_culture.png">
    <meta property="og:url" content="table.html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <Header />
    <main class="main-content no-scroll">
        <OpeningHours />
        <Slideshow />
    </main>
    <Footer />
</body>
</html>