/* Button Styling */

.btn {
    display: inline-flex; /* Centers content for inline elements */
    align-items: center; /* Centers vertically */
    justify-content: center; /* Centers horizontally */
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; /* Ensures the text is centered */
}

.btn a {
    text-decoration: none;
    color: inherit; /* Inherits the button's text color */
}

.primary { background-color: var(--link-color); color: #fff; }
.secondary { background-color: var(--secondary-color); color: var(--text-color); }