/* Main Container */
main.no-scroll { overflow: hidden; padding-top: var(--header-height); padding-bottom: var(--footer-height); min-height: 100vh; display: flex; justify-content: center; align-items: center; }

/* Slideshow Container */
.slideshow-container { width: 100%; height: 100%; position: relative; overflow: hidden; }

/* Slide Styling */
.slide {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}
.slide.active { display: flex; }

.slide-image { width: 100%; height: 100%; object-fit: cover; }

/* Navigation Arrows */
.navigation {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}
.prev, .next {
    cursor: pointer;
    padding: 10px;
    font-size: 2rem;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.prev:hover, .next:hover { background: rgba(0, 0, 0, 0.8); }

/* Dots */
.dots-container {
    display: flex;
    gap: 8px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.dot { cursor: pointer; width: 12px; height: 12px; background: #bbb; border-radius: 50%; }
.dot.active, .dot:hover { background: #717171; }