---
// src/components/contactCategoryDropown.astro
---

<div class="subheader">
    <p>
        <label for="contactCategoryDropdown"></label>
        <select id="teamCategoryDropdown" class="dropdown">
            <option value="all">all</option>
            <option value="address">address</option>
            <option value="mail">mail</option>
            <option value="map">map</option>
            <!-- Add more categories as needed -->
        </select>
    </p>
</div>