---
// src/components/EventSlideshow.astro
import './styles/slideshow.css';
---

<div class="slideshow-container">
    <!-- Slides -->
    <div class="slide active">
        <img src="/images/drinks/01_fruity_refreshing/01_000_fruity_refreshing.png" alt="fruity/refreshing" class="slide-image">
    </div>
    <div class="slide">
        <img src="/images/drinks/02_fruity_sweet/02_000_fruity_sweet.png" alt="fruity/sweet" class="slide-image">
    </div>
    <div class="slide">
        <img src="/images/drinks/03_sweet_creamy/03_000_sweet_creamy.png" alt="sweet/creamy" class="slide-image">
        </div>
    <div class="slide">
        <img src="/images/drinks/04_tart_dry/04_000_tart_dry.png" alt="tart/dry" class="slide-image">
    </div>
    <div class="slide">
        <img src="/images/drinks/05_non_alcoholic/05_000_non_alcoholic.png" alt="non-alcoholic" class="slide-image">
    </div>
    <div class="slide">
        <img src="public/images/drinks/06_hot_drinks/06_000_hot_drinks.png" alt="hot drinks" class="slide-image">
    
    </div>

    <!-- Navigation Buttons -->
    <div class="navigation">
        <a class="prev" onclick="changeSlide(-1)">&#10094;</a>
        <a class="next" onclick="changeSlide(1)">&#10095;</a>
    </div>
    
    <!-- Dots for slide indicators -->
    <div class="slide-footer">
        <div class="dots-container">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
            <span class="dot" onclick="currentSlide(5)"></span>
            <span class="dot" onclick="currentSlide(6)"></span>
        </div>
    </div>
</div>
<script src="/js/slideshow.js" defer></script>