---
// src/components/EmailForm.astro
---

<div>
    <form action="#" method="POST" class="email-form">
        <label for="name" class="label">Name</label>
        <input type="text" id="name" name="name" placeholder="Your Name" required class="input" />

        <label for="email" class="label">Email</label>
        <input type="email" id="email" name="email" placeholder="Your Email" required class="input" />

        <label for="message" class="label">Message</label>
        <textarea id="message" name="message" placeholder="Your Message" required class="textarea"></textarea>

        <button type="submit" class="btn primary-btn">Submit</button>
    </form>
</div>