---
// src/components/FoodCategoryDropown.astro
---

<div class="subheader">
    <p>
        <label for="foodCategoryDropdown"></label>
        <select id="foodCategoryDropdown" class="dropdown">
            <option value="all">all</option>
            <option value="301">meat</option>
            <option value="302">seafood</option>
            <option value="303">vegetarian</option>
            <option value="304">desserts</option>
            <!-- Add more categories as needed -->
        </select>
    </p>
</div>