---
import './styles/slideshow.css';
---

<div class="slideshow-container">


    <!-- Slides -->
    <div class="slide active">
        <img src="/images/food/01_000_grilled_beef_dishes.png" alt="beef" class="slide-image">
    </div>
    <div class="slide">
        <img src="/images/food/02_000_fish_dishes.png" alt="seafood" class="slide-image">
    </div>
    <div class="slide">
        <img src="/images/food/03_000_vegetarian_dishes.png" alt="vegetarian" class="slide-image">
    </div>
    <div class="slide">
        <img src="/images/food/04_000_dessert_dishes.png" alt="desserts" class="slide-image">
    </div>

    <!-- Navigation Buttons -->
    <div class="navigation">
        <a class="prev" onclick="changeSlide(-1)">&#10094;</a>
        <a class="next" onclick="changeSlide(1)">&#10095;</a>
    </div>

    <!-- Footer for Dots and Title -->
    <div class="slide-footer">
        <div class="dots-container">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
        </div>
</div>
</div>

<script src="/js/slideshow.js" defer is:inline></script>