---
// src/components/Header.astro
import ThemeSwitch from './ThemeSwitch.astro';
import './styles/header.css';

const menuItems = [
  { title: 'Start', link: '/', subItems: [''] },
  { title: 'Food', link: '/food', subItems: ['Meat', 'Seafood', 'Vegetarian', 'Desserts'] },
  { title: 'Drinks', link: '/drinks', subItems: ['Fruity & Refreshing', 'Fruity & Sweet', 'Alcoholic', 'Hot Drinks'] },
  { title: 'Booking', link: '/booking', subItems: ['Wednesday', 'Thursday', 'Friday', 'Saturday'] },
  { title: 'Events', link: '/events', subItems: [] },
  { title: 'Contact', link: '/contact', subItems: ['Adress','Mail','Map'] },
  { title: 'About Us', link: '/about_us', subItems: ['Barista','Bartender & DJ', 'Chef', 'Customer (VIP)', 'Manager'] },
];
---
<header class="header">
  <div class="logo">
    <a href="/index.html" aria-label="Starting Page">&nbsp;</a>
  </div>
  <nav>
    <ul class="menu">
      {menuItems.map((item) => (
        <li class="menu-item">
          <a href={item.link}>{item.title}</a>
          {item.subItems.length > 0 && (
            <ul class="dropdown">
              {item.subItems.map((subItem) => (
                <li><a href={`${item.link}/${subItem.toLowerCase().replace(/ /g, '-')}`}>{subItem}</a></li>
              ))}
            </ul>
          )}
        </li>
      ))}
    </ul>
  </nav>
  <div class="header-right">
    <ThemeSwitch />
  </div>
</header>
