---
// src/components/OpeningHours.astro
---
<div class="subheader">
    <p>
        <img src="images/icons/open.png" alt="Open icon">
        <span>wednesday, thursday &amp; sunday @17:00 + 19:00</span> |
        <span>friday &amp; sunday + @21:00</span> |
        <img src="images/icons/closed.png" alt="Closed icon">
        <span>monday &amp; tuesday</span>
    </p>
</div>