---
// src/components/TableSlideshow.astro
import './styles/slideshow.css';
---

<div class="slideshow-container">
    <!-- Slides -->
    <div class="slide active">
        <img src="/images/days/03_wednesday.png" alt="wednesday" class="slide-image">
    </div>
    <div class="slide">
        <img src="/images/days/04_thursday.png" alt="thursday" class="slide-image">
    </div>
    <div class="slide">
        <img src="/images/days/05_friday.png" alt="friday" class="slide-image">
    </div>
    <div class="slide">
        <img src="/images/days/06_saturday.png" alt="saturday" class="slide-image">
    </div>
    <div class="slide">
        <img src="/images/days/07_sunday.png" alt="sunday" class="slide-image">
    </div>

    <!-- Navigation Buttons -->
    <div class="navigation">
        <a class="prev" onclick="changeSlide(-1)">&#10094;</a>
        <a class="next" onclick="changeSlide(1)">&#10095;</a>
    </div>

    <!-- Dots for slide indicators -->
    <div class="slide-footer">
        <div class="dots-container">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
            <span class="dot" onclick="currentSlide(5)"></span>
        </div>
    </div>
</div>
<script src="/js/slideshow.js" defer></script>