---
// src/components/TeamCategoryDropown.astro
---

<div class="subheader">
    <p>
        <label for="teamCategoryDropdown"></label>
        <select id="teamCategoryDropdown" class="dropdown">
            <option value="all">all</option>
            <option value="barista">barista</option>
            <option value="barkeeper">barkeeper</option>
            <option value="chef">chef</option>
            <option value="manager">manager</option>
            <!-- Add more categories as needed -->
        </select>
    </p>
</div>