---
// src/layouts/BaseLayout.astro
import '../styles/global.css';
export interface BaseLayoutProps {
    title: string;
    description: string;
    ogImage: string;
    ogUrl: string;
    }
    
    const { title, description, ogImage, ogUrl } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{title}</title>
        <meta name="description" content={description} />
        <meta property="og:image" content={ogImage} />
        <meta property="og:url" content={ogUrl} />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <slot name="header" />
        <slot name="subheader" />
        <main class="main-content">
            <slot name="content" />
        </main>
        <slot name="footer" />
    </body>
</html>