---
// src/layouts/ContentSiteLayout.astro
import BaseLayout from './BaseLayout.astro';

export interface ContentSiteLayoutProps {
    title: string;
    description: string;
    ogImage: string;
    ogUrl: string;
}

const { title, description, ogImage, ogUrl } = Astro.props;
---

<BaseLayout {title} {description} {ogImage} {ogUrl}>
    <slot name="header" slot="header" />
    <slot name="subheader" slot="subheader" />
    <main class="main-content">
        <slot name="content" />
    </main>
</BaseLayout>
